Repository weizhouBlue/github-action-test, changes with the owners that CODEOWNERS names for each.
All owners: @weizhoublue, @weizhoublue1, @weizhoublue2, weizhoublue@example.com, @@octo-org/octocats, @doctocat, @octocat, @lou-lan

324
  .github/workflows/lint-test-chart.yaml
Owners: @lou-lan

chart
  charts/controller/values.yaml
Owners: @weizhoublue

chart2
  .github/workflows/lint-test-chart.yaml
Owners: @lou-lan

chart2
  .github/workflows/lint-test-chart.yaml
  charts/controller/values.yaml
Owners: @lou-lan, @weizhoublue

chart4
  .github/workflows/lint-test-chart.yaml
  charts/controller/charts/common-1.11.1.tgz
Owners: @lou-lan, @weizhoublue

chart4
  charts/cert-manager/Chart.lock
Owners: @weizhoublue

changelog
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/build-release-image.yaml
  .github/workflows/generate-changelog.yaml
  .github/workflows/lint-label-check.yaml
  README.md
  changelogs/README.md
Owners: @lou-lan, @weizhoublue

CODEOWNERS:

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.

# 设置一个 缺省 owner，越是在文件后边匹配到的规则，优先级最高
# Order is important; the last matching pattern takes the most precedence
*  @weizhoublue

# will require approval from @doctocat or @octocat.  这个应该是 github 账号名
/cmd/ @weizhoublue1 @weizhoublue2
/.gitignore @weizhoublue
/CODEOWNERS @weizhoublue
/README.md @weizhoublue
/go.mod @weizhoublue
/VERSION @weizhoublue
/vendor @weizhoublue
/Makefile*  @weizhoublue
/go.sum @weizhoublue

# 匹配任意层级目录下的 go 文件
# also use email addresses if you prefer
*.go   weizhoublue@example.com

# 如下写法，匹配目录下的所有子目录层级的任意文件
# github 的 Teams ，can be specified as code owners as well， in the format @org/team-name
/cmd/  @@octo-org/octocats

# 如下写法，匹配目录下的第一个目录层级的任意文件
/cmd/*  @doctocat

# 如下写法，会匹配工程下任意目录下的 cmd 目录中的 所有层级的文件
cmd/  @octocat

/.github/  @lou-lan
/images/ @weizhoublue
/charts/ @weizhoublue
